$mobile-width: 21.875rem;
$mobile-large-width: 34.375rem;
$tablet-width: 48rem;
$desktop-width: 80rem;

$mobile-page-header: 2rem;
$mobile-section-header: 0.75rem;
$mobile-subheader: 0.8125rem;
$mobile-body-copy: 0.8125rem;
$mobile-label: 0.75rem;

$tablet-page-header: 33px;
$tablet-section-header: 0.75rem;
$tablet-subheader: 0.875rem;
$tablet-body-copy: 0.875rem;
$tablet-label: 0.75rem;

$brand-color-main: #ffed93;
$brand-color-secondary: #ccecff;
$brand-color-3: #cdff88;
$brand-color-4: #6f0c55;
$white: #ffffff;
$nice-off-white: rgb(255, 239, 239);

$brainflix-darkblack: #000000;
$button-hover-color: #0065ad;
$error-color: #d22d2d;
$outline-color: #e1e1e1;
$secondary-background-color: #fafafa;
